<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />    
    </system.web>

  <connectionStrings>
    <add name="conString" connectionString=" Data Source=YASSIR-PC\SQLEXPRESS;Initial Catalog=ecommerce_asp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
    <add name="ecommerce_aspConnectionString" connectionString="Data Source=YASSIR-PC\SQLEXPRESS;Initial Catalog=ecommerce_asp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CurrencyConvertorSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CurrencyConvertorSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
        contract="ServiceReference1.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="customBinding" bindingConfiguration="CurrencyConvertorSoap12"
        contract="ServiceReference1.CurrencyConvertorSoap" name="CurrencyConvertorSoap12" />
    </client>
  </system.serviceModel>
</configuration>
